.shot-details-menu {
  position: absolute;
  bottom: 1.875rem;
  left: 1.9375rem;
  border: var(--border);
  border-radius: 0.25rem;
  background: rgba(8, 28, 40, 1);
  color: var(--white);
  width: calc(100% - 3.875rem);
  padding: 0.625rem;
  transition: height 0.3s ease-in-out;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  opacity: 0.85;
  z-index: 1;
}

.shot-details {
  font-weight: bold;
}

.tab {
  padding: 5px;
  border-radius: 0.25rem;
  color: var(--black);
  font-size: 0.875rem;
  margin: 0 0.625rem 0.625rem 0;

  &:hover {
    background-color: var(--lightGrey);
  }
}

.menu-chevron {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
