:root {
  --black: #000;
  --white: #fff;
  --lightGrey: #ccc;

  --categoryAPP: rgba(53, 226, 195, 1);
  --categoryOTT: rgba(255, 186, 1, 1);
  --categoryTEE: rgba(255, 186, 1, 1);
  --categoryARG: rgba(255, 4, 89, 1);

  --border: 1px solid rgba(70, 85, 95, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
